@model IntroMvc.Models.Cat
@{
    ViewData["Title"] = "Cat Page";
}

<h2>Cat Page</h2>
<h1>@Model.Name</h1>
<img src="@Model.ImageUrl" alt="@Model.Name" style="max-width: 300px">
<p>Age: @Model.Age</p>
<p>Breed: @Model.Breed</p>